@{
    ViewBag.Title = "Register";
    Layout = "_Layout1";
}

<section class="caret">
    <div>
        Contacts <i class="fa-solid fa-caret-right"></i> Register
    </div>
</section>
<section class="form">
    <p>Already Registered? <a asp-action="Login" asp-controller="Account">Login</a></p>
    <h1 class="MT-2">Register</h1>
    <form>
        <div class="form-style MT-2">
            <div class="label ML-1">
                <label for="name">Name</label><br /><br />
                <label for="email">Email</label><br /><br />
                <label for="password">Password</label><br /><br />
                <label for="confirm">Confirm Password</label><br /><br />
                <label for="phone">Phone</label><br /><br />
            </div>
            <div class="input ML-2">
                <input class="width" type="text" id="name" name="name"><br /><br />
                <input class="width" type="email" id="email" name="email"><br /><br />
                <input class="width" type="password" id="password" name="password"><br /><br />
                <input class="width" type="email" id="confirm" name="confirm"><br /><br />
                <input class="width" type="number" id="phone" name="phone"><br /><br />
            </div>

        </div>
        <button type="submit" class="btn MT-2 ML-15">Register</button>
    </form>
</section>